div.panel-body {
  height: 580px;
}

#mapid {
  height: 300px;
  border: 1px solid black;
}
#strain-input{
  border: 1px solid black;
}
#strain-submit{
  margin-top: 5px;
  border: 1px solid black;
}
#strain-search-panel {
  height: 100%;
}

#strain-photo {
  width: 200px;
  height: 200px;
  align-content: center;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
}
.choice {
 align-content: center;
 padding: 1px;
}