div.panel-body {
  height: 580px;
}

@media (min-width:1024px) {
  #weedleaf {
    margin-left: 0;
  }
  body {
    border: 1px solid black;
    margin-top: 101px;
  }
  div.panel {
  margin-top: 30px;
  margin-bottom: 30px;
}
}
@media (min-width:768px) and (max-width:1023px) {
  #weedleaf {
    margin-left: 100px;
  }
  body {
    border: 1px solid black;
    margin-top: 101px;
  }
  div.panel {
  margin-top: 30px;
  margin-bottom: 30px;
}
}
@media (max-width:767px) {
  #weedleaf {
    margin-left: 0%;
  }
  body {
    border: 1px solid black;
    margin-top: 101px;
  }
  div.panel {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#mapid {
  height: 300px;
  border: 1px solid black;
}

#strain-input {
  border: 1px solid black;
}

#strain-submit {
  margin-top: 5px;
  border: 1px solid black;
}

#strain-search-panel {
  height: 100%;
}

#strain-photo {
  width: 200px;
  height: 200px;
  align-content: center;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.choice {
  align-content: center;
  padding: 1px;
}
.effect-list-item{
  margin-top: 5px;
  margin-right: 5px;
}
.choice{
  margin-top: 5px;
  margin-right: 5px;
}